 
#panel ,.tab ul.login li.right,.tab ul.login li.left,.tab ul.login li,div#color_selector
,#accn .ui-accordion-header,#accn .ui-state-active,#accn .ui-widget-header 
,#designbodywidget,#themeRoller input, #themeRoller select,#inline_themeroller,
#themeRoller .ui-tabs-selected.ui-state-active,#Urorbit_panel,.urorbitPanel,.Urorbit-button,#mini

{
    color: #9a9a9a;
    background-color: #1a1a1a;
}

#box_DX_3 .ui-slider-handle,#panel h1, #urorbit_widget h1,#Urorbit_panel,
.urorbitPanelBox:hover,.UrOrbitFixClickimg,#handDrag:hover{
    border-color: 1px solid #ebebeb;
}
#Urorbit_panel{
    box-shadow: 4px 5px 7px #ebebeb;
}
#box_DX_3 .ui-slider-horizontal{
   background: #9a9a9a; 
}
.boxcoption a,#panel a ,#urorbit_widget a,#accn a:link,#themeRoller a{    
   color: #cccccc !important;
}
.bordercpanel{
    border:2px solid #cccccc !important;
}
.colorcpanel,#panel a:hover{
color:#ebebeb !important;
    }
     
#panel{ 
background-image: url(http://server.sfhati.com/uploaded/element/shines/shine_045.png) !important;
background-repeat: repeat-x;
}

.boxcoption,.heapBox,#accn .ui-widget-content,#themeRoller .ui-state-active,
#themeRoller .theme-group .theme-group-header.state-active,
#themeRoller .theme-group .theme-group-content,.buttonTheme{
    background-color: #0d0d0d !important;
    color:#9a9a9a !important;
}
.boxcoption a:hover,.heapBox a:hover,#accn .ui-widget-content a:hover,#themeRoller .ui-state-active a:hover,
#themeRoller .theme-group .theme-group-header.state-active a:hover,
#themeRoller .theme-group .theme-group-content a:hover,.buttonTheme a:hover{
    background-color: #0d0d0d !important;
    color:#9a9a9a !important;
}

#accn .ui-widget-content,#accn .ui-state-active,#accn .ui-state-active,#accn .ui-widget-header,#accn .ui-state-default{
background-image:none !important;
}
