/*************/
/*** Menu ***/
/***********/
.menu-wtg-container{
    float: [right_left];
}
.container_menu{
	height: 20px;
}
.main_menu_sides{
	position:absolute;
	top: 0; width: 20px;
	height: 100%;
}
.main_menu_left{
	background-position: left top;
}
.main_menu_right{
	background: right top;
}
.container_menu ul{
	height: 100%;
	margin: 0;
}
.container_menu ul li{
	float:[right_left];
	display:block;
	height: 100%;
	list-style:none;
	padding: 0 10px;
	margin: 0 1px;
	position: relative;
}
.container_menu ul li a{
	display:block;
	font-size: 16px;
	color: white;
	z-index: 2;
	position:relative;
	/*text-shadow: 0 1px 2px rgba(255, 255, 255, 0.5),0 1px 2px rgba(0, 0, 2, 0.5);*/
}
/*
.container_menu li.back {
	padding: 0;
  width: 36px;
	height: 69px;
  z-index: 1;
	position: absolute;
	background: url(../img/background_image/menu/menu_001_current.png) no-repeat center bottom;
}
*/
.container_menu li.back {
	padding: 0;
  width: 7px;
	height: 44px;
  z-index: 1;
	position: absolute;
	background-repeat: no-repeat;
	background-position: right bottom;
}
.container_menu li.back .left{
  height: 44px;
	margin-right: 7px; 
	background-position: top left;
	background-repeat: no-repeat;
}

	
.container_menu ul li a:hover {
	text-decoration: underline;
}

/*****************/
/*** sub-menus ***/
/*****************/

.container_menu ul ul {
	background: #1e5799; /* Old browsers */
	background: rgba(20, 20, 20, 0.9); /*Gray */
	border-radius: 7px;
	box-shadow: 0 0 1px rgba(255, 255, 255, 0.5), 0 0 5px rgba(0, 0, 0, 0.5); /* Black */
	display: none;
  padding: 0;
  position: absolute;
  top: 44px;
  width: 155px;
  z-index: 100;
	height:auto;
}
.container_menu ul ul ul {
	top: 0px!important;
	[right_left]: 164px;
	width: 155px;
}
.container_menu ul ul li{
	width: 155px;
	margin: 0;
	padding:0;
	height: auto;
	position: relative;
	text-align:center;
	list-style: none;
	display: block;
	background: none;
}
.container_menu ul ul li.li_first{}

.container_menu ul ul li.li_first:before{
	content: '';
	width: 100%;
	height: 10px;
	top: -10px;
	[right_left]:0;
	background: url(menu_pointers_black_[rtl_ltr].png) center top no-repeat; /*181*/
	position: absolute;
}
.container_menu ul ul ul li.li_first:before{
	content: '';
	width: 16px;
	height: 16px;
	top: 10px;
	[right_left]:-10px;
	background: url(menu_pointers_black_[rtl_ltr].png) [right_left] bottom no-repeat; /*181*/
	position: absolute;
}

.container_menu ul ul li a {
	display:block;
	width: 100%;
	padding: 5px 0;
	position:relative;
	margin:0;
	line-height: 2!important;
	color: #A0A0A0!important;
	font-size: 13px!important;
	text-shadow: none!important;
}
.container_menu ul ul li a:hover {
	text-decoration: underline;
}
.with_submenu > a:[before_after]{
	content: " [arrowcss] ";
	position:relative;
}